@import url('https://fonts.googleapos.com/css?family=Poppins: 200, 300, 400, 500, 600, 700, 800display=swap');

*
{
	margin: 0; 
	padding: 0; 
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body
{
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.full-area {
	position: relative;
	max-width: 1000vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;


}

.full-area .card {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center; 
	flex-wrap: wrap;
	margin: 100px 0;

}
.full-area .card:nth-child(odd){
	flex-direction: row;
}

.full-area .card:nth-child(even){
	flex-direction: row-reverse;
	text-align: right;
}
.full-area .card  .imgBox{
	position: relative;
	width: 500px;
	height: 400px;
	background: #ff0;
	left: 25px;
	z-index: 1;
}
.full-area .card:nth-child(even) .imgBox {
	left: -25px;
}
.full-area .card  .imgBox img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.full-area .card .content-box{
	position: relative;
	right: 25px;
	width: 500px;
	height: 400px;
	background: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 60px 20px 100px;
}
.full-area .card:nth-child(even) .content-box {
	right: -25px;
	padding: 20px 100px 20px 60px;
}
.content-box:before {
	content: '';
	position: absolute;
	top: -50px;
	bottom: -50px;
	left: 0;
	right: 0;
	background: #000;
	z-index: -1;
}
.content-box h2{
	font-size: 30px;
	color: #fff;
}

.content-box p{
	text-align: justify;
	font-size: 10px;
	color: #fff;
}

.content-box a{
	display: inline-block;
	margin-top: 15px;
	color: #fff;
	text-decoration: none;
	padding: 10px;
	border: 1px solid #fff;
}


@media (max-width: 1000px)
{
	.full-area .card{
		flex-direction: column;
		max-width: 350px;
		margin: 25px 25px;
	}

	.full-area .card .imgBox {
		width: 100%;
		height: 250px;
		left: 0;
	}
	.full-area .card .content-box{
		width: 100%;
		height: auto;
		right: 0;
		padding: 30px;
		text-align: center;
	}
	.full-area .card .content-box:before{
		top: 0;
		bottom: 0;
	}
	.full-area .card:nth-child(even) .imgBox {
	left: 0px;
	}
	.full-area .card:nth-child(even) .content-box {
	right: 0;
	padding: 30px;
}
}