

body{
	background: #313131;
}

.button {
    top: 50%;
    left: 30%;
    position: absolute;
    text-align: center;
    
}
.button a{
	border-radius: 14px;
	background-color: #bb9e10;
	text-align: center;
	padding: 10px 30px;
	color: #fff;
	font-family: unset;
	font-size: 29px;
}